---

---

<section class="container">
  <div class="max-container main-container">
    <article>
      <h2>Advanced Enhancement Formula</h2>
      <img src="../../public/imgs/male2.png" alt="" />
    </article>
  </div>
</section>

<style>
  .container {
    background: url(../../public/imgs/sec3.jpg) top center no-repeat;
  }

  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(165vh - 10rem);
  }

  article {
    width: 50%;
  }

  article h2 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 1.875rem;
  }

  article img {
    max-width: 100%;
    width: 100%;
  }

  @media (max-width: 781px) {
    article {
      width: 70%;
    }
  }
</style>
