---

---

<div class="form-container .max-container" id="rush-my-order">
  <div class="seta">
    <img src="../../public/imgs/seta.png" alt="" />
  </div>

  <div class="form-title">
    <h1>Where do we <br />Send your Bottle?</h1>
  </div>

  <div class="form-content">
    <form action="" class="form-content">
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
      <input type="email" name="" id="" placeholder="Email Addres" />
      <input type="number" name="" id="" placeholder="Phone" />
      <input type="text" placeholder="Your Addres" />
      <input type="text" placeholder="Your City" />
      <select
        name="shippingState"
        class="form-control required"
        data-selected=""
        data-error-message="Please select your state!"
        ><option value="" selected="selected">Select State</option><option
          value="AB">Alberta</option
        ><option value="BC">British Columbia</option><option value="MB"
          >Manitoba</option
        ><option value="NB">New Brunswick</option><option value="NL"
          >Newfoundland and Labrador</option
        ><option value="NT">Northwest Territories</option><option value="NS"
          >Nova Scotia</option
        ><option value="NU">Nunavut</option><option value="ON">Ontario</option
        ><option value="PE">Prince Edward Island</option><option value="QC"
          >Quebec</option
        ><option value="SK">Saskatchewan</option><option value="YT"
          >Yukon</option
        ></select
      >

      <input
        type="text"
        name="shippingZip"
        data-min-length="5"
        autocomplete="disabled"
        data-max-length="7"
        maxlength="7"
        placeholder="Postal Code"
        class="form-control required"
        value=""
        data-error-message="Please enter a valid postal code!"
      />

      <img src="../../public/imgs/rush-my-order-btn.png" alt="" />
      <p class="secure">
        <i class="fa fa-lock"></i> 256 bit secure form
      </p>
      <img src="../../public/imgs/mcaff.jpg" alt="" />
    </form>
  </div>
</div>

<style>
  .form-container {
    border-radius: 20px;
    background-color: #fff;
    max-width: 400px;
    border: 5px solid #0699ee;
  }

  .form-title {
    font-family: "Montserrat", sans-serif;
    padding: 1.6rem;
    color: #fff;
    text-align: center;
    background-color: #0699ee;
    border-radius: 3px 3px 0 0;
    line-height: 1.85rem;
  }

  .form-title h1 {
    font-weight: 400;
  }

  .form-content {
    gap: 0.2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    padding: 15px 10px 10px 10px;
  }

  form input,
  select {
    margin: 3px 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #999999;
    outline: none;
    width: 90%;
  }

  form img {
    width: 254px;
  }

  form img:nth-child(1) {
    cursor: pointer;
  }

  .seta {
    position: relative;
  }

  .seta img {
    position: absolute;
    top: -90px;
    left: 350px;
  }

  .secure {
    color: #666;
    font-size: 0.8rem;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    .form-container {
      max-width: 90vw;
      width: 100%;
    }
  }
</style>
