---

---

<section class="container">
  <div class="max-container">
    <div class="img-container">
      <img src="../../public/imgs/gnews.png" alt="" />
    </div>
  </div>
</section>

<section class="max-container">
  <div class="face-container">
    <div class="texts">
      <h1>WHAT OTHERS ARE SAYING:</h1>
      <h2>
        Viva Prime is all over the Internet and the results <span class="orange"
          >are Astonishing</span
        >!
      </h2>
    </div>
    <img src="../../public/imgs/face.jpg" alt="" />
    <img src="../../public/imgs/3cards.jpg" alt="" />
  </div>
</section>

<style>
  .container {
    background: url(../../public/imgs/bgimg4.jpg) top center no-repeat;
    min-height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .img-container {
    text-align: center;
  }

  .img-container img {
    max-width: 70%;
    width: 100%;
  }

  .face-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .texts {
    text-align: center;
  }

  .texts h1 {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 3.125rem;
  }

  .texts h2 {
    font-family: "Open sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
  }

  .orange {
    color: var(--main-orange);
  }

  img:first-child {
    max-width: 100%;
    width: 100%;
  }

  img:last-child {
    max-width: 100%;
    width: 100%;
  }
</style>
