---
import Form from "./Form.astro";
---

<div class="main-container">
  <div class="container max-container">
    <div class="img text">
      <img src="../../public/imgs/male-enchancement.png" alt="" />
      <p>Size Does Matter ! Laboratory Formulated For<br /> Size & Stamina</p>
    </div>

    <div class="form">
      <img src="../../public/imgs/3selos.png" alt="" />
      <Form />
    </div>
  </div>
</div>

<style>
  .main-container {
    background: url(https://www.getvivaprime.com/ca/special/v1/app/desktop/images/beach-woman-493fc68a2c4e71f99f8c52578fbb6cb2ba02889168e8ae7cfacc1ded014d6360.jpg)
      top center no-repeat;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form img {
    max-width: 100%;
    width: 100%;
  }

  .img img {
    max-width: 100%;
    width: 100%;
  }

  .text p {
    font-family: "Montserrat", sans-serif;
    color: #050505;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    padding: 2rem;
  }

  @media (max-width: 1025px) {
    .main-container {
      min-height: 863px;
      background: url(https://www.getvivaprime.com/ca/special/v1/app/desktop/images/beach-woman-493fc68a2c4e71f99f8c52578fbb6cb2ba02889168e8ae7cfacc1ded014d6360.jpg)
        top center no-repeat;
    }
  }
  @media (max-width: 768px) {
    .main-container {
      min-height: auto;
      background-size: contain;
    }

    .container {
      flex-direction: column;
    }

    .img {
      margin-top: 4rem;
    }

    .text p {
      display: none;
    }
  }

  @media (max-width: 481px) {
  }

  @media (max-width: 320px) {
  }
</style>
