---

---

<section class="max-container container">
  <header class="header">
    <img src="../../public/imgs/selo.jpg" alt="" />
    <h1>WHAT DO YOU GET?</h1>
    <h3>Benefits of <span class="orange">Viva Prime</span>!</h3>
  </header>
  <main class="main">
    <div class="img">
      <img src="../../public/imgs/3rem.png" alt="" />
    </div>
    <article class="texts">
      <h1>The Key Is Massive Expansion of The Penis</h1>
      <h3>The Enhancement you deserve</h3>
      <p>
        The 2 penis chambers called corpus cavernosa is what determines your
        penis size with an erection. The function of the corpus cavernosum is
        purely erectile. Muscles surround the cavernosum and spongiosum. These
        muscles support the penis when erect and contract during ejaculation.
      </p>
      <div class="bold-texts">
        <p>
          <i class="fa fa-check green" style="font-size:25px;"></i> Scientists
          have finally discovered a way to push these chambers to huge density
          and thickness by a complex ingredient profile.
        </p>
        <p>
          <i class="fa fa-check green" style="font-size:25px;"></i> When taking
          Viva Prime this allows significant increased blood flow to the open
          spaces inside the corpora cavernosa chambers.
        </p>
        <p>
          <i class="fa fa-check green" style="font-size:25px;"></i> Once the
          blood is trapped, the major muscle located in the corpora cavernosa
          helps to sustain this huge erection.
        </p>
      </div>
      <p>
        What’s more, it delivers a potent hard erection that can lasts for
        hours… and it will continue to keep your penis huge as long as you keep
        taking it. This Makes Other Male Enhancement Remedies Look Like
        Slackers!
      </p>
    </article>
  </main>
  <footer class="footer">
    <a href="#rush-my-order">order now!</a>
  </footer>
</section>

<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 47.5rem;
  }

  .header {
    width: 100%;
    text-align: center;
  }

  .header h1 {
    font-size: 3.75rem;
    font-family: "Montserat", sans-serif;
    color: #333;
    margin: 15px 0 5px;
    font-weight: bold;
  }

  .header h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
  }

  .orange {
    color: var(--main-orange);
  }

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .img {
    max-width: 30vw;
    text-align: center;
  }

  .img img {
    max-width: 100%;
    width: 100%;
  }

  .texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    font-family: Arial, Helvetica, sans-serif;
    gap: 1rem;
  }

  .texts h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    color: var(--main-orange);
  }

  .texts h3 {
    font-size: 1.125rem;
  }

  .texts > p {
    color: #666;
    font-size: 0.9rem;
  }

  .bold-texts {
    font-weight: bold;
    font-size: 0.9rem;
    color: #333;
  }

  .bold-texts i {
    color: green;
  }

  .footer {
    margin-top: 6rem;
  }

  .footer a {
    font-family: "Montserrat", sans-serif;
    padding: 15px 30px;
    background-color: var(--main-orange);
    font-size: 2.2rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
    color: #fff;
  }

  @media (max-width: 320px) {
    .footer a {
      font-size: 1.2rem;
    }
  }
</style>
